{{outlet}}
<h1>This is {{#each model.rider as |rider|}}{{rider.name}}{{/each}}'s Dashboard</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Clients Destination</th>
      <th>Clients Name</th>
      <th>Clients email</th>
      <th>Clients Contact </th>
    </tr>
  </thead>
  <tbody>
    {{#each model.rider as |rider|}}
      {{#each rider.rides as |ride|}}
        <tr>
          <td>{{ride.to}}</td>
          <td>{{ride.user.name}}</td>
          <td>{{ride.user.email}}</td>
          <td>{{ride.user.number}}</td>
        </tr>
      {{/each}}
    {{/each}}
  </tbody>
</table>
