<div class="container-fluid navbar" style="margin: 0">
<h1 id="title">Welcome to Nduthis</h1>
<div class="container-fluid navbar">
  <nav>
    <ul>
      <li>
        <a href="/">
          <img src="img/Logo2.png">
        </a>
        {{#link-to 'index'}}<img class="text-center" src="img/Logo2.png">{{/link-to}}
      </li>
      <li>
        {{#if session.isAuthenticated}}
          <h3>You are currently logged as: {{session.data.authenticated.profile.email}}</h3>
          <a href="#" {{action 'logout'}}>Logout</a>
        {{else}}
          <a class="link" href="#" {{action 'login'}}>Login</a>
        {{/if}}
      </li>
    </ul>
  </nav>
</div>
</div>
{{outlet}}

<!--Footer-->
<footer>
  <p> Copyright The Nduthis Team </p>
  <ul id="foot">
    <li><img src="img/rsz_fb2.png"></li>
    <li><img src="img/rsz_git.png"></li>
    <li><img src="img/rsz_insta.png"></li>
    <li><img src="img/rsz_twt.png"></li>
  </ul>
</footer>
