<div class="container-fluid navbar">
  <nav class="">
    <ul>
      <li class="float-left">
        {{#link-to 'index'}}<img class="text-center" src="./../img/Logo2.png">{{/link-to}}
      </li>
      <li class="float-left navbar-brand">{{link-to "NDUTHIS" 'protected'}}</li>
      {{#if session.isAuthenticated}}
        <li class="float-right">You are currently logged as: {{session.data.authenticated.profile.email}} <a href="#" {{action 'logout'}}>Logout</a></li>
      {{else}}
        <li class="float-right"><a href="#" {{action 'login'}}>Login</a></li>

      {{/if}}
    </ul>
  </nav>
</div>
{{outlet}}
<!--Footer-->
<footer>

  <div class="subscribe">
    {{#if subscribed}}
      <form>
        <div class="form-group">
          <div class="row">
            <div class="email">
              <label for="email">Email</label>
              <div class="center-txt">
                {{input type="email" class="form-control" id="email" value=email placeholder="Enter your email" }}
              </div>
            </div>
          </div>
        </div>
        <button {{action 'subscribe'}} class="btn btn-primary" type="submit">Subscribe</button>
      </form>
    {{else}}
      <div class="row">
        <div>
          <h2>Thanks for subscribing!</h2>
        </div>
      </div>
    {{/if}}
  </div>
  <div class="foot-logo img-responsive">
    <img src="./../img/Logo2.png">
    <h3>Nduthis</h3>
    <hr class="horizontal-foot">
  </div>
  <div class="social-icons row">
    <a href="#"><span class="fa-stack fa-lg">
  <i class="fa fa-facebook fa-stack-1x"></i>
</span></a>
    <a href="#"><span class="fa-stack fa-lg">
<i class="fa fa-twitter fa-stack-1x"></i>
</span></a>
    <a href="#"><span class="fa-stack fa-lg">
<i class="fa fa-instagram fa-stack-1x"></i>
</span></a>
    <a href="#"><span class="fa-stack fa-lg">
<i class="fa fa-github fa-stack-1x"></i>
</span></a>
  </div>
  <p> &copy;The Nduthis Team </p>
</footer>

<!--Back to Top Button-->
<a href="#0" class="cd-top">Top</a>
