

<div class="container registration">
</div>

<!-- {{#each model as |user|}}
{{user.name}}
{{/each}}
>>>>>>> ffe41d5a5c757fe97bbe288dc8e25156fbdf6aed
=======
<!-- {{#each model as |user|}}
{{user.name}}
{{/each}}
>>>>>>> 63583f9f9633b85fcd3b4f3d49da89a265f753d9
{{#if session.data.authenticated.profile.email_verified}}
Your email is verified
{{link-to "Proceed with registration" 'register'}}
<br>
{{link-to "Book A Nduthi" 'book'}}
<br>
{{link-to "User Dashboard" 'dashboard.user'}}
<br>
{{link-to "Rider Dashboard" 'dashboard.rider'}}
<br>
{{else}}
Your email is not verified
<br> Please first verify you email and log back into your account to proceed with registration.
{{/if}}
<h2>Congratulations you are one step closer to starting your journey!!!</h2>
<div class="container gif">
  <img src="https://media.giphy.com/media/QZEdQgrlgOjcY/giphy.gif">
<<<<<<< HEAD
<<<<<<< HEAD
</div>
</div>
=======
=======
</div> -->
